<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileJump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileJump.Properties.Settings>
            <setting name="MachineName" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="DeviceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggedOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_email" serializeAs="String">
                <value />
            </setting>
            <setting name="user_token" serializeAs="String">
                <value />
            </setting>
            <setting name="user_password" serializeAs="String">
                <value />
            </setting>
            <setting name="user_FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="user_LastName" serializeAs="String">
                <value />
            </setting>
        </FileJump.Properties.Settings>
    </userSettings>
</configuration>